<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akam.s198596mappe3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/memory"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Spill">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartGameActivity"
            android:parentActivityName=".Spill"></activity>

        <activity android:name=".Rules"
            android:parentActivityName=".Spill"></activity>
    </application>

</manifest>
